In [3]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:123456@localhost:3306/holf?charset=utf8')
sql = '''
select * from BasicData
'''
dt = pd.read_sql(
    sql=sql,
    con=engine,
    index_col='学号',
    columns=None
)
dt.head(3)

           性别   身高  体重    支出   开设    课程      软件   小白鼠
学号
1510248008  女  167  71    46  不清楚  都未学过      No    46
1510229019  男  171  68  10.4  有必要  概率统计  Matlab  10.4
1512108019  女  175  73    21  有必要  统计方法    SPSS    21

In [9]:
dt[2:4]

           性别   身高  体重   支出   开设    课程     软件  小白鼠
学号
1512108019  女  175  73   21  有必要  统计方法   SPSS   21
1512332010  男  169  74  4.9  有必要  编程技术  Excel  4.9

In [16]:
type(a = dt.groupby(by='性别'))

TypeError: type() takes 1 or 3 arguments